---
layout: default
what: >-
  We are a production and financing company founded by Daniela Taplin Lundberg.
  Our name comes from Johnny Cade's last words to Ponyboy in *The Outsiders*:
  “Stay gold, Ponyboy. Stay gold.”


  We produce projects that are sincere, smart, and widely-resonant, and we have never shied away from taking risks. As we grow beyond our roots in independent film, we will continue championing singular visions and telling untold stories.
who:
  - name: Daniela Taplin Lundberg
    position: Producer/Founder
    description: >-
      Producer Daniela Taplin Lundberg is the founder of Stay Gold Features, an
      independent film finance and production company. Her recent producing
      credits include Hallie Meyers-Shyer's upcoming GOODRICH starring Michael
      Keaton and Mila Kunis, Nikyatu Jusu’s Sundance Grand Jury winner NANNY
      starring Anna Diop and Michelle Monaghan, and Nikole Beckwiths’ TOGETHER
      TOGETHER starring Ed Helms and Patti Harrison. Under Stay Gold, Lundberg
      also produced Kasi Lemmons’ HARRIET, starring Cynthia Erivo in her
      Oscar-nominated role, Alma Har’els’ HONEY BOY which was nominated for four
      Independent Spirit Awards, and JOE BELL starring Mark Wahlberg and Connie
      Britton. 


      With Stay Gold, Lundberg hosts the Hollywood Gold podcast where she interviews some of the industry's most successful producers in order to pull back the curtain on the making of iconic movies, including *Mean Streets,* *Memento*, and *Eternal Sunshine of the Spotless Mind*.


      Prior to launching Stay Gold, Lundberg was a co-founding partner of Red Crown Productions where she produced Cary Fukunaga’s BEASTS OF NO NATION and Michael Showalter’s HELLO, MY NAME IS DORIS. She was previously a partner at Plum Pictures where she produced over 20 films, including Golden Globe Best Picture winner THE KIDS ARE ALL RIGHT. 


      Lundberg was named to Variety’s 2020 Women’s Impact Report and is the recipient of the 2020 Hollywood Critics Association Producer of the Decade award. She is a member of The Academy of Motion Picture Arts and Sciences and sits on the Executive Board of the Producer's Branch of the Academy. She is also a member of the Young Presidents Organization. Lundberg is a graduate of Princeton University and lives in Connecticut with her husband and three children.
  - name: Rebecca Cammarata
    position: Head of Production and Operations
    description: Rebecca served as Co-Producer on Kasi Lemmons’ *Harriet*, which was
      nominated for two Oscars in 2019, as well as Alma Har’el’s Honey Boy,
      which was nominated for four Independent Spirit Awards. She Co-Produced
      the upcoming *Joe Bell*, starring Mark Wahlberg and Connie Britton, which
      premiered at the 2020 Toronto International Film Festival, and is an
      Executive Producer on Ed Helms-starrer *Together Together*. Prior to
      joining Stay Gold, Cammarata was the Creative Executive at Jake
      Gyllenhaal&rsquo;s company Nine Stories Productions where she worked
      closely with producer Riva Marker on David Gordon Green&rsquo;s
      *Stronger*, Paul Dano&rsquo;s directing debut *Wildlife*, and the 2017
      Broadway revival of Stephen Sondheim’s *Sunday In The Park With George*.
      Before Nine Stories, Cammarata was an executive at Red Crown Productions
      and her credits there include *Beasts Of No Nation*, *Hello, My Name Is
      Doris,* and *The Family Fang*.
  - name: Vanessa Mendal
    description: Vanessa joined Stay Gold in 2019. Before that, she worked at a
      Warner Media content incubator called OneFifty, where she helped develop
      projects including HBO&rsquo;s Random Acts of Flyness. She also spent time
      at Epix in content distribution, working with partners like Amazon, Hulu
      and Sony Vue. Vanessa holds a BFA in Film &amp; TV from NYU&rsquo;s Tisch
      School of the Arts. She likes cooking elaborate meals and eating them.
    position: Head of Development
  - name: Brianna Weiss
    position: Executive Assistant
    description: Brianna joined Stay Gold in 2024. Previously, she supported the
      SVP, Digital at The Gersh Agency. She holds a BS from Vanderbilt
      University where she studied Cinema & Media Arts and Elementary Education.
---
<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about"><u>About</u></a></li>
            <li><a href="{{ site.baseurl }}/pledge" class="pledge">Our Pledge</a></li>
            <li><a href="#" class="projects-drop">Projects</a></li>
            {% assign projects = site.projects | sort: 'release_year' %}
            {% for project in projects reversed %}  
            <li class="projects" data-hover="{{ site.baseurl }}{{ project.main_still }}"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/podcast" class="news">Podcast</a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="https://988a29-2.myshopify.com/">Merch</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>   

<div class="content-area content-scroll">
    <div class="content-about">
        <h1> <u>About</u></h1>
        <h4 class="about-titles"><u>WHAT WE DO</u></h4>
        <div class="whatwedo">{{ page.what | markdownify }}</div>
        <h4 class="about-titles"><u>WHO WE ARE</u></h4>
        <div class="whoweare">
          {% for item in page.who %}
          <p style="margin-bottom: 0;"><u>{{ item.name }}</u></p>
          <p class="team-position">{{ item.position }}</p>
          <div class="team-description">{{ item.description | markdownify  }}</div>
          {% endfor %}
        </div>
    </div>
</div>