---
layout: default
what: "<p>We are a production and financing company founded by Daniela Taplin Lundberg.
  Our name comes from Johnny Cade's last words to Ponyboy in <em>The Outsiders</em>:
  “Stay gold, Ponyboy. Stay gold.”</p><p>We produce projects that are sincere, smart,
  and widely-resonant, and we have never shied away from taking risks. As we grow
  beyond our roots in independent film, we will continue championing singular visions
  and telling untold stories.</p>"
who:
- name: Daniela Taplin Lundberg
  position: Producer/Founder
  description: "<p>Producer Daniela Taplin Lundberg is the Founder of Stay Gold Features,
    an independent film finance and production company. Her recent producing credits
    include Kasi Lemmons’ <em>Harriet</em>, starring Cynthia Erivo in an Oscar-nominated
    role and Alma Har’el’s <em>Honey Boy</em> which was nominated for four Indie Spirit
    Awards. She also produced <em>Together Together </em>starring Ed Helms and Patti
    Harrison, directed by Nikole Beckwith, which premiered at the 2021 Sundance Film
    Festival in the Dramatic Competition section and was distributed by Bleecker Street;
    as well as <em>Joe Bell</em>, starring Mark Wahlberg and Connie Britton and was
    distributed by Roadside and Vertical. Prior to launching Stay Gold, Lundberg was
    a co-founding partner of Red Crown Productions where she produced Cary Fukunaga’s
    <em>Beasts of No Nation</em> and Michael Showalter’s <em>Hello, My Name is Doris</em>.
    She was previously a partner at Plum Pictures where she produced over 20 films,
    including Golden Globe Best Picture winner <em>The Kids Are Alright</em>. She
    was named to Variety’s 2020 Women’s Impact Report and is the recipient of the
    2020 Hollywood Critics Association Producer of the Decade award. Lundberg is a
    member of The Academy of Motion Picture Arts and Sciences as well as of YPO (Young
    President’s Organization). She is a graduate of Princeton University and lives
    in Connecticut with her husband and three children.</p>"
- name: Rebecca Cammarata
  position: Head of Production
  description: "<p>Rebecca served as Co-Producer on Kasi Lemmons’ <em>Harriet</em>,
    which was nominated for two Oscars in 2019, as well as Alma Har’el’s <em>Honey
    Boy</em>, which was nominated for four Independent Spirit Awards. She Co-Produced
    the upcoming <em>Joe Bell</em>, starring Mark Wahlberg and Connie Britton, which
    premiered at the 2020 Toronto International Film Festival, and is an Executive
    Producer on Ed Helms-starrer <em>Together Together</em>. Prior to joining Stay
    Gold, Cammarata was the Creative Executive at Jake Gyllenhaal's company Nine Stories
    Productions where she worked closely with producer Riva Marker on David Gordon
    Green's <em>Stronger</em>, Paul Dano's directing debut <em>Wildlife</em>, and
    the 2017 Broadway revival of Stephen Sondheim’s <em>Sunday In The Park With George</em>.
    Before Nine Stories, Cammarata was an executive at Red Crown Productions and her
    credits there include <em>Beasts Of No Nation</em>, <em>Hello, My Name Is Doris</em>,
    and <em>The Family Fang</em>.</p>"
- name: Vanessa Mendal
  description: "<p>Vanessa joined Stay Gold in 2019. Before that, she worked at a
    Warner Media content incubator called OneFifty, where she helped develop projects
    including HBO's Random Acts of Flyness. She also spent time at Epix in content
    distribution, working with partners like Amazon, Hulu and Sony Vue. Vanessa holds
    a BFA in Film &amp; TV from NYU's Tisch School of the Arts. She likes cooking
    elaborate meals and eating them.</p>"
  position: Creative Executive
- name: Emma Powers
  position: Executive Assistant
  description: "<p>Emma joined Stay Gold in 2022. She previously worked as a production
    assistant and at CAA. Emma holds a B.A. from Columbia University and is a graduate
    of the Bolshoi Ballet Academy. A former professional dancer, she now only dances
    when the spirit moves her.</p>"

---
<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about"><u>About</u></a></li>
            <li><a href="{{ site.baseurl }}/pledge" class="pledge">Our Pledge</a></li>
            <li><a href="#" class="projects-drop">Projects</a></li>
            {% assign projects = site.projects | sort: 'release_year' %}
            {% for project in projects reversed %}  
            <li class="projects" data-hover="{{ site.baseurl }}{{ project.main_still }}"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/podcast" class="news">Podcast</a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>   

<div class="content-area content-scroll">
    <div class="content-about">
        <h1> <u>About</u></h1>
        <h4 class="about-titles"><u>WHAT WE DO</u></h4>
        <div class="whatwedo">{{ page.what }}</div>
        <h4 class="about-titles"><u>WHO WE ARE</u></h4>
        <div class="whoweare">
          {% for item in page.who %}
          <p style="margin-bottom: 0;"><u>{{ item.name }}</u></p>
          <p class="team-position">{{ item.position }}</p>
          <div class="team-description">{{ item.description }}</div>
          {% endfor %}
        </div>
    </div>
</div>