---
layout: default
what: "<p>We are a production and financing company founded by Daniela Taplin Lundberg.
  Our name comes from Johnny Cade's last words to Ponyboy in The Outsiders: “Stay
  gold, Ponyboy. Stay gold.” We produce projects that are sincere, smart, and widely-resonant,
  and we have never shied away from taking risks. As we grow beyond our roots in independent
  film, we will continue championing singular visions and telling untold stories.</p>"
who:
- name: Daniela Taplin Lundberg
  position: Producer/Founder
  description: "<p>Producer Daniela Taplin Lundberg is the Founder of Stay Gold Features,
    an independent film finance and production company. Her recent producing credits
    include Kasi Lemmons’ HARRIET, starring Cynthia Erivo in an Oscar-nominated role.
    She also produced the upcoming TOGETHER TOGETHER starring Ed Helms and Patti Harrison,
    directed by Nikole Beckwith, which premiered at the 2021 Sundance Film Festival
    in the Dramatic Competition section and will be distributed by Bleecker Street
    in April. Prior to launching Stay Gold, Lundberg was a co-founding partner of
    Red Crown Productions where she produced Cary Fukunaga’s BEASTS OF NO NATION and
    Michael Showalter’s HELLO, MY NAME IS DORIS. She was previously a partner at Plum
    Pictures where she produced over 20 films, including Golden Globe Best Picture
    winner THE KIDS ARE ALL RIGHT. She was named to Variety’s 2020 Women’s Impact
    Report and is the recipient of the 2020 Hollywood Critics Association Producer
    of the Decade award. Lundberg is a member of The Academy of Motion Picture Arts
    and Sciences as well as of YPO (Young President’s Organization). She is a graduate
    of Princeton University and lives in Connecticut with her husband and three children.</p>"
- name: Becca Cammarata
  position: Head of Production
  description: "<p>Rebecca Cammarata is the Head of Production for Stay Gold Features.
    Cammarata was a Co-Producer on Kasi Lemmons’ HARRIET, which was nominated for
    two Oscars in 2019, as well as Alma Har’el’s HONEY BOY, which was nominated for
    four Independent Spirit Awards. She Co-Produced the upcoming JOE BELL, starring
    Mark Wahlberg and Connie Britton, which premiered at the 2020 Toronto International
    Film Festival, and is an Executive Producer on Ed Helms-starrer TOGETHER TOGETHER.
    Prior to joining Stay Gold, Cammarata was the Creative Executive at Jake Gyllenhaal's
    company Nine Stories Productions where she worked closely with producer Riva Marker
    on David Gordon Green's STRONGER, Paul Dano's directing debut WILDLIFE, and the
    2017 Broadway revival of Stephen Sondheim’s SUNDAY IN THE PARK WITH GEORGE. Before
    Nine Stories, Cammarata was an executive at Red Crown Productions and her credits
    there include BEASTS OF NO NATION, HELLO, MY NAME IS DORIS, and THE FAMILY FANG.</p>"
- name: Vanessa Mendal
  description: "<p>Vanessa joined Stay Gold in 2019. Before that, she worked at a
    Warner Media content incubator called OneFifty, where she helped develop projects
    including HBO's Random Acts of Flyness. She also spent time at Epix in content
    distribution, working with partners like Amazon, Hulu and Sony Vue. Vanessa holds
    a BFA in Film &amp; TV from NYU's Tisch School of the Arts. She likes cooking
    elaborate meals and eating them.</p>"
  position: 'Coordinator '
- name: Charlie Alderman
  position: Head of Content
  description: "<p>Charlie joined the company in January 2021 but met the Stay Gold
    gang through <em>Harriet</em>, which he brought to Focus Features in his capacity
    as their Director of Production. While there, Charlie also championed Eliza Hittman's
    <em>Never, Rarely, Sometimes, Always </em>and worked on a bunch of other movies,
    including Spike Lee's <em>BlacKkKlansman. </em>Charlie likes working in other
    media too: he forged partnerships between Focus and podcasters like Little, Everywhere
    and Stuff You Should Know, and before that, he worked as a development executive
    at Epic Magazine (<em>Little America</em>), which bridges magazine storytelling
    and Hollywood. He loves Indian food and tennis.</p>"

---
<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about"><u>About</u></a></li>
            <li><a href="{{ site.baseurl }}/pledge" class="pledge">Our Pledge</a></li>
            <li><a href="#" class="projects-drop">Projects</a></li>
            {% for project in site.projects %} 
            <li class="projects" data-hover="{{ site.baseurl }}{{ project.main_still }}"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>   

<div class="content-area content-scroll">
    <div class="content-about">
        <h1> <u>About</u></h1>
        <h4 class="about-titles"><u>WHAT WE DO?</u></h4>
        <div class="whatwedo">{{ page.what }}</div>
        <h4 class="about-titles"><u>WHO WE ARE?</u></h4>
        <div class="whoweare">
          {% for item in page.who %}
          <p style="margin-bottom: 0;"><u>{{ item.name }}</u></p>
          <p class="team-position">{{ item.position }}</p>
          <div class="team-description">{{ item.description }}</div>
          {% endfor %}
        </div>
    </div>
</div>