---
layout: default
project_order:
- _projects/together-together.html
- _projects/harriet.html
- _projects/honey-boy.html
- _projects/patti-cake.html
- _projects/under-the-silver-lake.html
- _projects/the-strange-ones.html
- _projects/a-ciambra.html

---
<div class="mobile-grid">
        <button class="hamburger hamburger--squeeze" type="button">
            <span class="hamburger-box">
            <span class="hamburger-inner"></span>
            </span>
        </button>
        <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
        <div class="menu">
            <ul>
                <li><a href="{{ site.baseurl }}/index"><u>Stay Gold Features</u></a></li>
                <li><a href="{{ site.baseurl }}/about">About</a> </li>
                <li><a href="{{ site.baseurl }}/pledge" class="pledge">Our Pledge</a></li>
                <li><a href="#" class="projects-drop">Projects</a></li>
                {% assign projects = site.projects | sort: 'release_year' %}
                {% for project in projects reversed %} 
                <li class="projects" data-hover="{{ site.baseurl }}{{ project.main_still }}"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
                {% endfor %} 
                <li><a href="{{ site.baseurl }}/podcast" class="news">Podcast</a></li>
                <li><a href="{{ site.baseurl }}/news">News</a></li>
                <li><a href="https://988a29-2.myshopify.com/">Merch</a></li>
                <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
                <li><a href="{{ site.baseurl }}/donate">Donate to LA Wildfire Survivors</a></li>
            </ul>
        </div>
    <div></div>
</div>  

<div class="content-area slideshow-content">
    {% assign projects = site.projects | where_exp: "page", "page.highlight == true" %}
    {% for project in projects limit:1 %}
        <img src="{{ site.baseurl }}{{ project.main_still }}" class="intro-img active" style="object-position: {{ project.image-align }};" alt="">
    {% endfor %}
    {% for project in projects offset:1 %}
        <img src="{{ site.baseurl }}{{ project.main_still }}" class="intro-img" style="object-position: {{ project.image-align }};" alt="">
    {% endfor %}
</div>

<div class="content-area hidden-content">
    <img class="intro-img project-img" src="" alt="">
</div>

<div class="feature-container">
    {% assign projects = site.projects | where_exp: "page", "page.highlight == true" %}
    {% for project in projects limit:1 %}
    <div class="info-grid active">
        <div class="feature-title"><a href="{{ site.baseurl }}{{ project.url }}"><u>{{ project.title }}</u></a></div>
        <div class="feature-info">
            <span>Directed by {{project.director}}</span><br> 
            <span>Written by {{project.writer}}</span>
        </div>
    </div>
    {% endfor %}
    {% for project in projects offset:1 %}
    <div class="info-grid">
        <div class="feature-title"><a href="{{ site.baseurl }}{{ project.url }}"><u>{{ project.title }}</u></a></div>
        <div class="feature-info">
            {% if project.director != '' %}
            <span>Directed by {{project.director}}</span><br>
            {% endif %} 
            {% if project.writer != '' %}
            <span>Written by {{project.writer}}</span>
            {% endif %} 
        </div>
    </div>
    {% endfor %}
</div>

<script>

function cycleImages(){
    var $active = $('.content-area .active');
    var $next = ($active.next().length > 0) ? $active.next() : $('.content-area img:first');
    $next.css('z-index',2);//move the next image up the pile
    $active.fadeOut(1500,function(){//fade out the top image
        $active.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
        $next.css('z-index',3).addClass('active');//make the next image the top one
    });
    var $activeB = $('.feature-container .active');
    var $nextB = ($activeB.next().length > 0) ? $activeB.next() : $('.feature-container div:first');
    $nextB.css('z-index',2);//move the next image up the pile
    $activeB.fadeOut(1500,function(){//fade out the top image
        $activeB.css('z-index',1).show().removeClass('active');//reset the z-index and unhide the image
        $nextB.css('z-index',3).addClass('active');//make the next image the top one
    });
}

$(document).ready(function(){
setInterval('cycleImages()', 5000);
})

$('.projects').mouseover(function (e) {
    imageData = $(this).attr('data-hover')
    $('.project-img').attr('src' , imageData)
    $('.feature-container').hide()
    $('.slideshow-content').hide() 
    $('.hidden-content').show() 
});

$('.projects').mouseout(function (e) {
    $('.feature-container').show()
    $('.slideshow-content').show() 
    $('.hidden-content').hide() 
});



</script>

<script>
        if (window.netlifyIdentity) {
        window.netlifyIdentity.on("init", user => {
            if (!user) {
            window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
            });
            }
        });
        }
</script>