---
layout: default
news:
- date: February 2023
  article:
  - title: Michael Keaton Comedy ‘Goodrich’ Heads To Market With Black Bear, C2 Motion
      Picture Group & Stay Gold Features — EFM Hot Package
    link: https://deadline.com/2023/02/michael-keaton-dopesick-batman-flash-comedy-return-goodrich-efm-1235262988/
- date: September 2022
  article:
  - title: "‘Nanny’ Trailer: Nikyatu Jusu’s Sundance-Winning Thriller Unravels the
      American Dream"
    link: https://www.indiewire.com/2022/08/nanny-trailer-nikyatu-jusu-1234756548/
  - title: Daniela Taplin Lundberg’s Stay Gold Features Launches ‘Hollywood Gold’
      Podcast On Iconic Films; First Season To Explore Titles Including ‘American
      Beauty’, ‘Election’ And ‘Thelma & Louise’
    link: https://deadline.com/2022/09/stay-gold-features-daniela-tapin-lundberg-launch-hollywood-gold-podcast-1235123376/
- date: March 2022
  article:
  - title: Blumhouse, Prime Video Acquire ‘Nanny,’ Nikyatu Jusu’s Sundance Grand Jury
      Prize Winner
    link: https://variety.com/2022/film/news/blumhouse-prime-video-nanny-nikyatu-jusu-sundance-grand-jury-prize-winner-1235184256/
- date: January 2022
  article:
  - title: 'Sundance Film Festival: ''Nanny'' Leads a Parade of Scares'
    link: https://www.nytimes.com/2022/01/28/movies/sundance-film-festival-nanny-horror.html
  - title: "‘Nanny’ Wins Dramatic Grand Jury Prize at Sundance 2022"
    link: https://www.thewrap.com/sundance-2022-film-festival-awards/
  - title: 'Sundance 2022: 20 Films We Can’t Wait to See'
    link: https://www.rogerebert.com/festivals/sundance-2022-20-films-we-cant-wait-to-see
  - title: 'Hits and Misses, Pandemic Edition 2.0: Anthony Kaufman Breaks Down Six
      Sundance 2020 Films’ Theatrical Releases'
    link: https://filmmakermagazine.com/112864-hits-and-missesanthony-kaufman-sundance-2020-films-theatrical-releases/#.YegYvBPMLjA
- date: December 2021
  article:
  - title: '2022 Spirit Awards Nominations: A24 Leads with 13, Four Women in for Best
      Director (Full List)'
    link: https://www.indiewire.com/2021/12/independent-spirit-awards-nominations-2022-see-full-list-1234685383/
  - title: Sundance Film Festival Unveils 2022 Lineup
    link: https://www.nytimes.com/2021/12/09/movies/sundance-2022-lineup.html
- date: June 2021
  article:
  - title: Michelle Monaghan Joins Anna Diop In ‘Nanny’ For Stay Gold Features And
      Topic Studios
    link: https://deadline.com/2021/06/michelle-monaghan-anna-diop-nanny-1234773401/
  - title: "‘Titans’ Alum Anna Diop To Star in ‘Nanny’ For Stay Gold Features And
      Topic Studios"
    link: https://deadline.com/2021/06/titans-anna-diop-nanny-1234771636/
- date: May 2021
  article:
  - title: Mark Wahlberg Starrer ‘Joe Bell’ Moves To Roadside Attractions/Vertical
      Entertainment For July Release
    link: https://deadline.com/2021/05/mark-wahlberg-joe-bell-moves-to-roadside-attractions-vertical-entertainment-from-solstice-studios-1234762077/
- date: April 2021
  article:
  - title: Stay Gold Features Hires Focus Features Executive Charlie Alderman, Promotes
      Rebecca Cammarata
    link: https://variety.com/2021/film/news/stay-gold-features-new-hires-1234956861/
  - title: Stay Gold Features & Topic Studios Team On Horror Film ‘Nanny’ From Nikyatu
      Jusu
    link: https://deadline.com/2021/04/stay-gold-features-topic-studios-nanny-nikyatu-jusu-1234733360/
- date: December 2020
  article:
  - title: Bleecker Street Picks Up Ed Helms Sundance 2021 Premiere ‘Together Together’
    link: https://deadline.com/2020/12/sundance-film-festival-premiere-together-together-ed-helms-bleecker-street-acquisition-1234657623/
- date: November 2020
  article:
  - title: Solstice Studios Sets Awards-Season Theatrical Launch For Mark Wahlberg-Starrer
      ‘Joe Bell’
    link: https://deadline.com/2020/11/mark-wahlberg-joe-bell-solstice-studios-release-date-1234613571/
- date: September 2020
  article:
  - title: Mark Wahlberg Drama ‘Good Joe Bell’ Sells to Solstice Studios
    link: https://variety.com/2020/film/news/mark-wahlberg-good-joe-bell-1234776013/
- date: January 2020
  article:
  - title: '2020 HCA Awards - Producer of the Decade: Daniela Taplin Lundberg'
    link: https://www.youtube.com/watch?v=O3iC_jvxW5w
- date: November 2019
  article:
  - title: 'From ‘Honey Boy’ To ‘Harriet’: How Stay Gold Features Came To Play This
      Awards Season'
    link: https://www.forbes.com/sites/kristenlopez/2019/11/26/from-honey-boy-to-harriet-how-stay-gold-features-came-to-play-this-awards-season/#2f48978e1e71
  - title: '''Harriet'' Costume Designer on Cynthia Erivo''s 40 "Mythic" Looks'
    link: https://www.hollywoodreporter.com/news/harriet-costume-designer-cynthia-erivos-40-mythic-looks-1250721
- date: October 2019
  article:
  - title: 'Daniela Taplin Lundberg Produced Shia LaBeouf’s Wildest Movie When No
      One Else Would  '
    link: https://www.refinery29.com/en-ca/2019/10/8606368/daniela-taplin-lundberg-produced-shia-labeoufs-wildest-movie-when-no-one-else-would
- date: July 2019
  article:
  - title: 'Watch: HARRIET Official Trailer'
    link: https://www.youtube.com/watch?v=GqoEs4cG6Uw
- date: May 2019
  article:
  - title: Shia LaBeouf’s ‘Honey Boy’ To Sweeten Up Awards Season
    link: https://deadline.com/2019/05/shia-labeoufs-honey-boy-to-sweeten-up-awards-season-1202611072/
- date: April 2019
  article:
  - title: Gary Sinise Joins Mark Wahlberg In ‘Good Joe Bell’
    link: https://deadline.com/2019/04/gary-sinise-mark-wahlberg-good-joe-bell-1202601692/
  - title: Mark Wahlberg, Connie Britton to Star in ‘Good Joe Bell’ From ‘Brokeback
      Mountain’ Scribes (EXCLUSIVE)
    link: https://variety.com/2019/film/news/mark-wahlberg-connie-britton-good-joe-bell-brokeback-mountain-1203186535/
  - title: Mark Wahlberg, Connie Britton Set for 'Good Joe Bell' from 'Brokeback Mountain'
      Writers
    link: https://www.hollywoodreporter.com/news/mark-wahlberg-connie-britton-set-good-joe-bell-movie-1201248
- template: news-article
  link: https://www.indiewire.com/2019/02/sundance-2019-best-film-critics-survey-1202041315/
  title: 'Critics Survey: Sundance 2019’s Best Movies According to 102 Film Journalists'
  date: February 2019
  article:
  - title: 'Sundance: Amazon Buys Shia LaBeouf Drama ‘Honey Boy’'
    link: https://variety.com/2019/film/markets-festivals/shia-labeouf-amazon-honey-boy-1203126477/
  - title: History Comes Alive! See Cynthia Erivo as Abolitionist Harriet Tubman in
      Harriet First Look
    link: https://people.com/movies/cynthia-erivo-harriet-tubman-first-look/
- template: news-date
  date: January 2019
  article:
  - title: 10 Best Movies of Sundance 2019
    link: https://www.rollingstone.com/movies/movie-features/10-best-movies-sundance-2019-789258/
  - title: 'Critics Survey: Sundance 2019’s Best Movies According to 102 Film Journalists'
    link: https://www.indiewire.com/2019/02/sundance-2019-best-film-critics-survey-1202041315/

---
<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a> </li>
            <li><a href="{{ site.baseurl }}/pledge" class="pledge">Our Pledge</a></li>
            <li ><a href="#" class="projects-drop">Projects</a></li>
            {% assign projects = site.projects | sort: 'release_year' %}
            {% for project in projects reversed %}  
            <li class="projects"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/podcast" class="news">Podcast</a></li>
            <li><a href="{{ site.baseurl }}/news"><u>News</u></a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>   
<div class="content-area content-scroll">
    <div class="content-news">
        <h1><u>News</u></h1>
        {% for item in page.news %}
        <h4 class="article-date"><u>{{ item.date }}</u></h4>
            {% for article in item.article %}
                <a href="{{ article.link }}" target="_blank"><p class="article-title">{{ article.title }}</p></a>
            {% endfor %}
        {% endfor %}
    </div>
</div>