---
layout: default
body: "<p>At Stay Gold Features, we have always prioritised inclusive hiring in
  both above-the-line and below-the-line positions. This is a practice we will now
  implement as company policy, as we strive to broaden our scope and expand our network.<br><br>Open
  access to any industry requires acknowledgement of the financial and systemic realities
  of society. If we want to create more space for Black, Indigenous and People of
  Color (BIPOC) in the entertainment industry, we must actively generate opportunities
  that allow for sustainable careers.<br><br>With this pledge, we commit to being
  part of a much needed and overdue transformation within the industry. We hope this
  inspires other companies to join us or create their own pledge for change.<br><br>We
  pledge that every project we produce will meet at least two of the five criteria
  below:<br><br>1. BIPOC director and/or writer<br><br>2. BIPOC talent cast in at
  least 25% of significant speaking roles<br><br>3. Screenplay center on the stories
  of BIPOC<br><br>4. At least two BIPOC Department Heads, and/or at least 30% below-the-line
  BIPOC crew members<br><br>5. Employ 2-3 BIPOC interns at a PA salary, plus travel
  and accommodations<br><br>In addition, we will create an in-office internship program
  for high school students from under-represented communities that will support 2-3
  interns per semester.</p>"
signatures:
- signature_image: assets/img/charlie.svg
  name: Charlie Alderman
  position: Head of Content
- signature_image: assets/img/vanessa.svg
  name: Vanessa Mendal
  position: Executive Assistant
- signature_image: assets/img/becca.svg
  name: Rebecca Cammarata
  position: Director of Development
- signature_image: assets/img/daniela.svg
  name: Daniela Taplin Lundberg
  position: Producer/Founder

---
<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a> </li>
            <li><a href="{{ site.baseurl }}/pledge"><u>Our Pledge</u></a></li>
            <li class="projects-drop"><a href="#">Projects</a></li>
            {% for project in site.projects %} 
            <li class="projects" data-hover="{{ site.baseurl }}{{ project.main_still }}"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>   
<div class="content-area content-scroll">
  <div class="content-pledge">
    <h1><u>Our Pledge</u></h1>
    <div class="pledge-body">{{ page.body }}</div>
      <div class="signature-flex">
      {% for signature in page.signatures %}
        <div style="text-align: center;">
          <img src="{{ site.baseurl }}/{{ signature.signature_image }}" alt="signature" class="signature-img"><br>
          <p class="signature-description">{{ signature.name }}</p>
          <p class="signature-description signature-position">{{ signature.position }}</p> 
        </div>  
      {% endfor %}
      </div>
    </div>
</div>