---
layout: default
links: []
podcast_episodes:
- episode_title: Jonathan Taplin - Mean Streets
  episode_guest: "<p>In this episode, Daniela's personal and professional lives intertwine
    as she interviews her father Jonathan Taplin. A producer, manager, writer, and
    professor, Jonathan began his career in film by producing Martin Scorsese's iconic
    Mean Streets. Having sunk his entire life savings into financing this film by
    a then unknown filmmaker, a combination of passion, ingenuity, talent, and luck
    led to the success of the film that would launch Scorsese's long and storied career.</p>"
  links:
  - name: ''
    link: ''
  - name: Apple Podcasts
    link: https://podcasts.apple.com/pt/podcast/hollywood-gold/id1646283677?i=1000580216631
- episode_title: What is Hollywood Gold?
  episode_guest: "<p>Producer Daniela Taplin Lundberg, who runs the all-female film
    and television production company Stay Gold Features, shares the inspiration behind
    the podcast. Growing up in Hollywood, Daniela watched her father learn how to
    produce from scratch during Martin Scorsese's Mean Streets, saw her mother become
    a successful actress, and witnessed movie magic for the first time on the set
    of her stepfather's film Major League. Now a successful producer having made magic
    of her own with films such as Harriet, Honey Boy, Beasts of No Nation, and The
    Kids Are All Right, Daniela created this podcast to allow producers to share the
    stories of all the blood, sweat, and tears that go into making Hollywood Gold.</p>"
  links:
  - name: Apple Podcasts
    link: https://podcasts.apple.com/pt/podcast/hollywood-gold/id1646283677?i=1000580210322
  - name: Google Podcasts
    link: https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuc3ByZWFrZXIuY29tL3Nob3cvNTY3MDU4NC9lcGlzb2Rlcy9mZWVk/episode/aHR0cHM6Ly9hcGkuc3ByZWFrZXIuY29tL2VwaXNvZGUvNTEzMzUwMzY?sa=X&ved=0CAUQkfYCahcKEwiIpovfpdX6AhUAAAAAHQAAAAAQAg&hl=en-PT

---
<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a> </li>
            <li><a href="{{ site.baseurl }}/pledge" class="pledge">Our Pledge</a></li>
            <li ><a href="#" class="projects-drop">Projects</a></li>
            {% assign projects = site.projects | sort: 'release_year' %}
            {% for project in projects reversed %}  
            <li class="projects"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/podcast"><u>Podcast</u></a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>   
<div class="content-area content-scroll">
    <div class="content-news">
        <h1><u>Podcast</u></h1>
        {% for item in page.news %}
        <h4 class="article-date"><u>{{ item.date }}</u></h4>
            {% for article in item.article %}
                <a href="{{ article.link }}" target="_blank"><p class="article-title">{{ article.title }}</p></a>
            {% endfor %}
        {% endfor %}
    </div>
</div>