---
layout: default
links: []
podcast_episodes:
- episode_title: Callie Khouri - Thelma and Louise
  episode_guest: "<p>Producer and writer Callie Khouri takes us on the journey from
    script to screen of the beloved film Thelma and Louise. Equal parts inspiration
    (the story in its entirety just popped into her head one day), great timing (Ridley
    Scott was suddenly available to direct), and integrity (Callie refused to change
    the ending regardless of studio notes), the film is a remarkable success story
    that marks the revolutionary reinvention of female characters on screen.</p>"
  links:
  - name: Spotify Podcasts
    link: https://open.spotify.com/episode/3jufNneVDraHe5NgXgbzAk?si=ca6c7fcabdd84130
  - name: Google Podcasts
    link: https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuc3ByZWFrZXIuY29tL3Nob3cvNTY3MDU4NC9lcGlzb2Rlcy9mZWVk/episode/aHR0cHM6Ly9hcGkuc3ByZWFrZXIuY29tL2VwaXNvZGUvNTE0NzAyMjM?sa=X&ved=0CAUQkfYCahcKEwiIpovfpdX6AhUAAAAAHQAAAAAQFw&hl=en-PT
  - name: Apple Podcasts
    link: https://podcasts.apple.com/pt/podcast/hollywood-gold/id1646283677?i=1000581641515
  episode_date: 5 Oct 2022
- episode_title: Debra Martin Chase - The Princess Diaries
  episode_guest: "<p>Producer Debra Martin Chase has worked with some of the greatest
    talents of our time, including Whitney Houston and Denzel Washington. In this
    episode, Debra talks about how her second career as a film producer began with
    the timeless classic The Princess Diaries. She explains how this special film
    inspired Julie Andrews' return to film after a 10 year hiatus and launched Anne
    Hathaway's career. Debra shares insights into breaking boundaries, forging your
    own path, what it means to be a leader, and provides glimpses into some of the
    behind the scenes magic from set.</p>"
  episode_date: 28 Sept 2022
  links:
  - name: Spotify Podcasts
    link: https://open.spotify.com/episode/4vmwXTPVrBuSf9ctIuimB1?si=9590d5f7bdf74305
  - name: Google Podcasts
    link: https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuc3ByZWFrZXIuY29tL3Nob3cvNTY3MDU4NC9lcGlzb2Rlcy9mZWVk/episode/aHR0cHM6Ly9hcGkuc3ByZWFrZXIuY29tL2VwaXNvZGUvNTE0MDE5NjI?sa=X&ved=0CAUQkfYCahcKEwiIpovfpdX6AhUAAAAAHQAAAAAQAg&hl=en-PT
  - name: Apple Podcasts
    link: https://podcasts.apple.com/pt/podcast/hollywood-gold/id1646283677?i=1000580882501
- episode_title: Jonathan Taplin - Mean Streets
  episode_guest: "<p>In this episode, Daniela's personal and professional lives intertwine
    as she interviews her father Jonathan Taplin. A producer, manager, writer, and
    professor, Jonathan began his career in film by producing Martin Scorsese's iconic
    Mean Streets. Having sunk his entire life savings into financing this film by
    a then unknown filmmaker, a combination of passion, ingenuity, talent, and luck
    led to the success of the film that would launch Scorsese's long and storied career.</p>"
  links:
  - name: Spotify Podcasts
    link: https://open.spotify.com/episode/2jIVobvkygQhSuQgUkMURo?si=a1226de0fd2c45fd
  - name: Google Podcasts
    link: https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuc3ByZWFrZXIuY29tL3Nob3cvNTY3MDU4NC9lcGlzb2Rlcy9mZWVk/episode/aHR0cHM6Ly9hcGkuc3ByZWFrZXIuY29tL2VwaXNvZGUvNTEzMzUwMzU?sa=X&ved=0CAUQkfYCahcKEwiIpovfpdX6AhUAAAAAHQAAAAAQAg&hl=en-PT
  - name: Apple Podcasts
    link: https://podcasts.apple.com/pt/podcast/hollywood-gold/id1646283677?i=1000580216631
  episode_date: 21 Sept 2022
- episode_title: What is Hollywood Gold?
  episode_guest: "<p>Producer Daniela Taplin Lundberg, who runs the all-female film
    and television production company Stay Gold Features, shares the inspiration behind
    the podcast. Growing up in Hollywood, Daniela watched her father learn how to
    produce from scratch during Martin Scorsese's Mean Streets, saw her mother become
    a successful actress, and witnessed movie magic for the first time on the set
    of her stepfather's film Major League. Now a successful producer having made magic
    of her own with films such as Harriet, Honey Boy, Beasts of No Nation, and The
    Kids Are All Right, Daniela created this podcast to allow producers to share the
    stories of all the blood, sweat, and tears that go into making Hollywood Gold.</p>"
  links:
  - name: Spotify Podcasts
    link: https://open.spotify.com/episode/1q2bLODGXHY9e7Wk9Rf1CT?si=6446d97082c449bf
  - name: Apple Podcasts
    link: https://podcasts.apple.com/pt/podcast/hollywood-gold/id1646283677?i=1000580210322
  - name: Google Podcasts
    link: https://podcasts.google.com/feed/aHR0cHM6Ly93d3cuc3ByZWFrZXIuY29tL3Nob3cvNTY3MDU4NC9lcGlzb2Rlcy9mZWVk/episode/aHR0cHM6Ly9hcGkuc3ByZWFrZXIuY29tL2VwaXNvZGUvNTEzMzUwMzY?sa=X&ved=0CAUQkfYCahcKEwiIpovfpdX6AhUAAAAAHQAAAAAQAg&hl=en-PT
  episode_date: 21 Sept 2022

---
<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a> </li>
            <li><a href="{{ site.baseurl }}/pledge" class="pledge">Our Pledge</a></li>
            <li ><a href="#" class="projects-drop">Projects</a></li>
            {% assign projects = site.projects | sort: 'release_year' %}
            {% for project in projects reversed %}  
            <li class="projects"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/podcast"><u>Podcast</u></a></li>
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>   
<div class="content-area content-scroll">
    <div class="content-news">
        <h1><u>Podcast</u></h1>
        {% for item in page.podcast_episodes %}
        <div class="title-flex">
          <h4 class="article-date"><u>{{ item.episode_title }}</u></h4>
          <div>{{ item.episode_date }}</div>
        </div>
        <div class="podcast-info">{{ item.episode_guest }}</div>
        <div class="podcasts-links">
          {% for item in item.links %}
            <a href="{{ item.link }}" class="pod-link">{{item.name}}</a>
          {% endfor %}
        </div>
        {% endfor %}
    </div>
</div>