.intro-img
    height: 97vh
    margin: 1.5vh 1.5vh 1.5vh 0
    width: 100%
    object-fit: cover
    object-position: left

.feature-text
    text-align: right
    margin-right: 3.5vw 
    list-style-type: none 
    font-size: 1.4vw
    line-height: 2vw

.feature-info
    font-size: 1vw
    line-height: 1.5vw

.info-grid
    position: absolute
    bottom: 0
    width: 100vw
    display: grid
    grid-template-columns: auto 73%