.info-grid ul
    list-style-type: none

.info-grid
    font-size: 3.5vw
    display: flex
    justify-content: space-between
    padding: 5vw 5vw
    border-top: 1px solid black


.feature-title
    font-size: 5.5vw
    max-width: 35vw