.project-flex
    display: flex

.project-details
    width: 60vw
    margin-top: 1em

.project-details p
    margin: 0

.project-synopsis
    margin-left: 3vw
    width: 80vw

.content-scroll
    overflow: scroll

.project-images
    margin-top: 2vh

.project-images img
    width: 69vw
    margin-bottom: 1vh