.main-grid 
    display: grid
    grid-template-columns: 9% 17% 74%
    width: 100vw
    overflow: hidden

.content-area
    border-left: 1px solid black
    height: 100vh
    margin-right: 1.5vh

.logo
    width: 5vw

.logo-section
    justify-self: center
    margin-top: 4vh

.menu ul
    margin-top: 0 
    list-style-type: none 
    padding-left: 0
    font-size: 1.4vw
    line-height: 2vw

.menu
    margin-top: 4vh
    margin-left: 1vw

.projects 
    margin-left: 1.5vw
    max-width: 10vw
    display: none

.projects-open
    display: block !important