.main-grid 
    display: grid
    grid-template-columns: 8% 17% 75%
    width: 100vw
    overflow: hidden

.content-area
    border-left: 1px solid black
    height: 100vh
    margin-right: 1.5vh
    
.intro-img
    height: 97vh
    margin: 1.5vh 1.5vh 1.5vh 0
    width: 100%
    object-fit: cover

.logo
    width: 5vw

.logo-section
    justify-self: center
    margin-top: 5vh

.menu ul
    margin-top: 0 
    list-style-type: none 
    padding-left: 0
    font-size: 1.3vw


.menu
    margin-top: 5vh
    margin-left: 2vw