---
layout: default
---

<div class="mobile-grid">
    <button class="hamburger hamburger--squeeze" type="button">
        <span class="hamburger-box">
        <span class="hamburger-inner"></span>
        </span>
    </button>
    <div class="logo-section"><a href="{{ site.baseurl }}/index"><img src="{{ site.baseurl }}/assets/img/logo.svg" class="logo" alt="logo"></a></div>
    <div class="menu">
        <ul>
            <li><a href="{{ site.baseurl }}/index">Stay Gold Features</a></li>
            <li><a href="{{ site.baseurl }}/about">About</a> </li>
            <li><a href="{{ site.baseurl }}/pledge">Our Pledge</a></li>
            <li><a href="#" class="projects-drop">Projects</a></li>
            {% assign projects = site.projects | sort: 'release_year' %}
            {% for project in projects reversed %}
                {% if project.title == page.title %}
                <li class="projects projects-open" data-hover="{{ site.baseurl }}{{ project.main_still }}"><a href="{{ site.baseurl }}{{ project.url }}"><u>{{ project.title }}</u></a></li>
                {% else %} 
                <li class="projects projects-open" data-hover="{{ site.baseurl }}{{ project.main_still }}"><a href="{{ site.baseurl }}{{ project.url }}">{{ project.title }}</a></li>
                {% endif %} 
            {% endfor %} 
            <li><a href="{{ site.baseurl }}/news">News</a></li>
            <li><a href="{{ site.baseurl }}/contact">Contact</a></li>
        </ul>
    </div>
<div></div>
</div>      
<div class="content-area content-scroll">
    <div class="content-project">  
        <h1 style="margin-bottom: 0;"><u>{{ page.title }}</u></h1>
        <div class="project-flex">
            <div class="project-details">
                {% if page.director != '' %}
                    <p>Director: {{ page.director }}</p><br>
                {% endif %}
                {% if page.writer != '' %}
                    <p>Writer: {{ page.writer }}</p><br>
                {% endif %}
                {% if page.cast != '' %}
                    <p>Cast: {{ page.cast}}</p><br>
                {% endif %}
                {% if page.produced != '' %}
                    <p>Produced with: {{ page.produced }}</p><br>
                {% endif %}
            </div>
            <div class="project-synopsis">
                <p>{{ page.synopsis }}</p>
            </div>  
        </div>
        <div class="project-images">
            {% for item in page.stills %}
            <img src="{{ site.baseurl }}/{{ item }}" alt="project image">
            {% endfor %}
        </div>
    </div>  
</div>

</div>


